@font-face {
    font-family: 'LemonSans';
    font-style: normal;
    font-weight: normal;
    src: url("../LemonSansLight.otf") format("opentype");
	
}
@font-face {
    font-family: 'LemonSans';
    font-style: normal;
    font-weight: bold;
    src: url("../LemonSansRegular.otf") format("opentype");
	
}
@font-face {
    font-family: 'LemonSans';
    font-style: normal;
    font-weight: 900;
    src: url("../LemonSansMedium.otf") format("opentype");
	
}
@font-face {
    font-family: 'ThaiSansNeue';
    font-style: normal;
    font-weight: normal;
    src: url("../ThaiSansNeue-Light.otf") format("opentype");
	src: url("../ThaiSansNeue-Light.otf") ;
}
@font-face {
    font-family: 'ThaiSansNeue';
    font-style: normal;
    font-weight: bold;
    src: url("../ThaiSansNeue-SemiBold.otf") format("opentype");
	src: url("../ThaiSansNeue-SemiBold.otf") ;
}
@font-face {
    font-family: 'ThaiSansNeue';
    font-style: normal;
    font-weight: 900;
    src: url("../ThaiSansNeue-Bold.otf") format("opentype");
	src: url("../ThaiSansNeue-Bold.otf") ;
}
body {
 font-family: "LemonSans", "Meiryo", "Sukhumvit Set", "ThaiSansNeue", "sans-serif";
} 
