.header-hotel-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 0.9rem;
    line-height: 0.5rem;
    background-color: black;
    color: #cccccc;
    //padding:'5px 5px 5px';
    text-align: center;
   // text-align: center;  
    font-weight: bold;
}
.body-hotel-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    //border-top: 1px solid #cccccc;
    //border-right: 1px solid #cccccc;
    font-size: 1rem;
   // line-height: 0.9rem;
   // padding:'5px 5px 5px';
   // text-align: center; 
}
.body-hotel-contact-right{
    //border-bottom: 1px solid #cccccc;
    //border-left: 1px solid #cccccc;
    //border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    //font-size: 1rem;
   // line-height: 0.9rem;
   // padding:'5px 5px 5px';
   // text-align: center; 
}
.header-employee-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 0.9rem;
    line-height: 0.5rem;
    background-color:#eee;
    color:black;
    //padding:'5px 5px 5px';
    //text-align: center;
   // text-align: center;  
    font-weight: bold;
}
.body-employee-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    font-size: 1rem;
}
.body-employee-contact-right{
    border-right: 1px solid #cccccc;
}
.header-email-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 0.9rem;
    line-height: 1.5rem;
    background-color:white;
    color:black;
    //padding:'5px 5px 5px';
    //text-align: center;
   // text-align: center;  
    font-weight: bold;
}
.body-email-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 0.9rem;
    line-height: 0.9rem;
    background-color:#eee;
    color:black;
    //padding:'5px 5px 5px';
    //text-align: center;
   // text-align: center;  
    font-weight: bold;
}
.header-managehotel-contact{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 0.9rem;
    line-height: 1.0rem;
    color: #4e4e4e;
    //padding:'5px 5px 5px';
    text-align: center;
   // text-align: center;  
    font-weight: bold;
}
.odd{
    background-color: #fff !important;
}
.even{
    background-color: #eee !important;
}
.head-nonhotel{
    background-color:#2c2c2c8c !important; 
    border-top: 1px solid #ddd!important;
    font-size: 1rem;
    line-height: 0.5rem;
    text-align: left!important;
}
.web-site{
    color:#3e7afc !important; 
    font-size: 12px; 
    font-family: arial, sans-serif;
    text-decoration: underline !important;
}
.signature{
    font-size: 12px; 
    font-family: arial, sans-serif;
}