.fontKanit {
    font-family: "Kanit", sans-serif;
    color: #4a4a4a;
    /* font-size: 1.25rem; */
    font-size: 0.8em;
    font-weight: 100;
    line-height: 1.5;
    .text-uat{
        font-size: 1rem;
        font-weight: bold;
    }
    .menu-list > li > a {
        font-weight: normal;
    }
    .title{
        font-size: 30px;
    }
    .announcement-detail{
        font-style: italic;
        color: #d40032!important;
    }
    .has-text-danger {
        color: #d40032!important;
    }
    .button.is-danger {
        background-color: #d40032;
        border-color: transparent;
        color: #fff;
    }
}
