@font-face {
  font-family: 'FuturaBTWXX';
  src: url('https://cdn.redplanethotels.com/web3/static/3479FA_0_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/3479FA_0_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/3479FA_0_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/3479FA_0_0.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBTWXX';
  src: url('https://cdn.redplanethotels.com/web3/static/3479FA_1_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/3479FA_1_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/3479FA_1_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/3479FA_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBTWXX';
  src: url('https://cdn.redplanethotels.com/web3/static/3479FA_2_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/3479FA_2_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/3479FA_2_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/3479FA_2_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-Regular.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-Regular.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-Medium.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-Medium.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-Bold.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-Bold.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-SLight.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSans-SLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-SLight.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSans-SLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Bold.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Bold.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Medium.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Medium.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Light.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Light.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd Uni';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Thin.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Thin.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd Uni';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Regular.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Regular.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd Uni';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Bold.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Bold.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd Uni';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Medium.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Medium.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd Uni';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Light.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Light.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCndUni-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Thin.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Thin.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Sans Cnd';
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Regular.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Regular.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/LemonSansCnd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Std';
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_0_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_0_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_0_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_0_0.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Std';
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_1_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_1_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_1_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_1_0.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Std';
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_2_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_2_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_2_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_2_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Std';
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_3_0.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/34A682_3_0.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_3_0.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/34A682_3_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Thai Sans Neue';
  src: url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Light.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Light.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Thai Sans Neue';
  src: url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Regular.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Regular.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thai Sans Neue';
  src: url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Bold.eot');
  src: url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Bold.woff') format('woff'),
    url('https://cdn.redplanethotels.com/web3/static/ThaiSansNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}