.fontLemonSans {
    font-family: "LemonSans", "Meiryo", "Sukhumvit Set", "ThaiSansNeue", "sans-serif";
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #eee;
    -webkit-font-smoothing: auto;
    .text-uat{
        font-size: 1rem;
        font-weight: bold;
    }
    .menu-list > li > a {
        font-size: 1rem !important;
        font-weight: normal;
        height: 3.1rem;
        line-height: 2;
    }
    .menu-list > li.active {
        background-color: #d40032;
        color: #fff;
    }
     .menu-list > li.active > a::after {
        position: absolute;
        content: "";
        width: auto;
        height: auto;
        right: -44px;
        top: 0px;
        border-style: solid;
        border-color: transparent transparent transparent rgb(212, 0, 50);
        border-width: 25px 22px;
    }
   .title {
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(74, 74, 74);
    }
    .announcement-detail{
        font-style: italic;
        font-size: 1.4rem;
        color: #d40032;
    }
    .announcement-date{
        font-size: 1.4rem;
    }
    .has-text-danger {
        color: #d40032!important;
    }
    .button.is-danger {
        background-color: #d40032;
        border-color: #d40032;
        color: #fff;
    }
    .button.is-danger:hover {
        background-color: #fff;
        border-color: #d40032;
        color: #d40032;
    }
    .button.is-small {
        font-size: 0.85rem;
    }
    .pagination-link.is-current {
    background-color: #d40032;
    border-color: #d40032;
    color: #fff;
    }
    .pagination-link, .pagination-next, .pagination-previous {
        border-color: #dbdbdb;
        color: #363636;
        min-width: 2.25em;
        background-color: #fff;
    }
    .navbar-item{
        font-size: 1rem;
        color: #ccc;
    }
}

