$font-detail: 1.25rem;
.card-content {
  padding:8px 16px;
}
.announcement-date{
  min-width: 140px;
  /* min-height: 45px; */
  font-size: 1rem;
  line-height: 2.1;
  font-weight: normal;
}
.announcement-detail{
  font-size:$font-detail;
}
.announcement-detail>a:hover{
  color: #d40032;
}
.new-employee-media{
  align-items: normal !important;
}
.new-employee-title{
  font-size: $font-detail;
}
.new-employee-date{
  font-size: 1rem;
}
.company-title{
  font-size: 1rem;
}
.image img{
  width: 80px;
  border-radius: 4px;
  min-height: 95px;
}
.li-img>img{
  display: table-cell;
  vertical-align: middle;
  width: 80px;
  border-radius: 4px;
}
.left-title{
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.125;
  float: left;
  left: 11rem;
  width: 100%;
  padding-left: 4.5rem;
}
.field-label .label{
  font-size: 1rem;
  // font-weight: normal;
}
.menu-list a.is-active {
  background-color: #d40032;
  color: #fff!important;
  border-top: none !important;
  // font-size: 1rem!important;
  border-bottom: solid 0.2rem #d40032 !important; 
}
hr{
  background-color: #d40032;
  border: none;
  display: block;
  height: 2px;
  margin: 5px;
}
.menu-list li>a:after {
    position: absolute;
    content: "";
    // width: auto;
    // height: auto;
    // border-style: solid;
    // border-color: transparent transparent transparent #d40032;
    // border-width: 25px 22px;
    // right: -44px;
    // top: 0;
}
.is-checkradio[type=checkbox]+label::before, .is-checkradio[type=checkbox]+label:before {
  width: 1.125rem;
  height: 1.2rem;
}
.is-checkradio[type=checkbox]+label::after, .is-checkradio[type=checkbox]+label:after {
  width: .375rem;
  height: .6rem;
  top: .405rem;
  left: .4rem;
}
.is-checkradio[type=checkbox]+label::before, .is-checkradio[type=checkbox]+label:before, .is-checkradio[type=radio]+label::before, .is-checkradio[type=radio]+label:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border: 1px solid #ccc;
}
.content-policy{
  // margin-top: -3.5rem;
}
 .hr-admin-emp{
   margin-left: 0.1rem;
 }
.announcement-loading{
  margin-left: 45%;
  // fill: red !important;
  font-size: 1.5rem;
}
.announcement-loading-in{
  margin: 2rem 20rem;
  width: 25% !important;
  fill: red !important;
}
.management-announcement{
  list-style: inside!important;
  padding-left: 2rem;
  font-size: 1rem;
}
.management-announcement li{
  padding-bottom: 0.5rem;
}
/***** Statistic ->Age ******/
.management-announcement .age-content{
  padding-left: 1rem;
}
.age-content .age-radio label{
  padding-right: 1rem;
}
.age-content .age-radio{
  padding: 0.5rem;
}
.age-content .age-view{
  padding-left: 0.5rem;
}
/***** Statistic ->Generations ******/
.management-announcement .generations-content{
  padding-left: 1rem;
}
.generations-content .generations-radio label{
  padding-right: 1rem;
}
.generations-content .generations-radio{
  padding: 0.5rem;
}
.generations-content .generations-view{
  padding-left: 0.5rem;
}
/***** Statistic ->Gender ******/
.management-announcement .gender-content{
  padding-left: 1rem;
}
.gender-content .gender-radio label{
  padding-right: 1rem;
}
.gender-content .gender-radio{
  padding: 0.5rem;
}
.gender-content .gender-view{
  padding-left: 0.5rem;
}
/***** Statistic ->Seniority ******/
.management-announcement .seniority-content{
  padding-left: 1rem;
}
.seniority-content .seniority-radio label{
  padding-right: 1rem;
}
.seniority-content .seniority-radio{
  padding: 0.5rem;
}
.seniority-content .seniority-view{
  padding-left: 0.5rem;
}
/***** Statistic ->Nationality ******/
.management-announcement .nationality-content{
  padding-left: 1rem;
}
.nationality-content .nationality-radio label{
  padding-right: 1rem;
}
.nationality-content .nationality-radio{
  padding: 0.5rem;
}
.nationality-content .nationality-view{
  padding-left: 0.5rem;
}
/***** Statistic ->Job grading ******/
.management-announcement .job-grading-content{
  padding-left: 1rem;
}
.job-grading-content .job-grading-radio label{
  padding-right: 1rem;
}
.job-grading-content .job-grading-radio{
  padding: 0.5rem;
}
.job-grading-content .job-grading-view{
  padding-left: 0.5rem;
}
/***** Report ->Job grading ******/
.management-announcement .monthly-content{
  padding-left: 1rem;
}
/***template ******/
.template , .organization-chart ,.appraisal{
  border-radius: 0px;
  border-top: 1px solid #ddd;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}
.hr-loading{
margin-left: 30%;
}
.menu-list {
    max-width: 160px;
    line-height: 24px;
    margin-right: 0px;
}
.menu-list>li{
  border-bottom: 1px solid #e6e6e6;
}
.odd{
  background-color: #eee !important;
}
.even{
  background-color: #eee !important;
}
.card-content {
  background-color: #fafafa;
  display: -webkit-box;
  min-height: 6.5rem;
  vertical-align: middle;
}
.menu-list > li > a{
  // line-height: 2;
  font-size: 1rem!important;
  font-weight: normal;
}
.menu-list > li{
  /* border-bottom: 1px solid #e6e6e6; */
  background-color: #fafafa;
  color: #666;
}
.menu-list>li>a:hover{
  background-color: #d40032 ;
  color:#fff !important;
}
.min-width150{
  min-width: 150px;
}
.min-width200{
  min-width: 250px;
}
.min-width240{
  min-width: 240px;
}
.min-width250{
  min-width: 250px;
}
.filter-emp .label{
  min-width: 120px;
}
.subtitle-emp{
  font-size: 1rem;
}
.tag:not(body).is-light{
  background-color: #7a7a7a;
  color: #fafafa;
}
.message-body-active:hover{
  border-color: #23d160!important;
  padding:0;
}
.message-body-active{
  border-color: #23d160!important;
  padding:0;
}
.message-body-inactive:hover{
  border-color: #7a7a7a!important;
  padding:0;
}
.message-body-inactive{
  border-color: #7a7a7a!important;
  padding:0;
}
.selected-date-picker-range{
     background-color: #ff3860!important;
     background-image:none!important;
     border-radius: 0!important;
}

.selected-start-position-date-picker {
     background-color: #ff3860!important;
     background-image: none!important;
     border-radius: 50%!important;
}

.selected-end-position-date-picker {
     background-color: #ff3860!important;
     background-image: none!important;
     border-radius: 50%!important;
}
/***** React Select  *****/
.react-select [class*="-indicatorSeparator"]{
  background-color: #ff3860 !important;
}
.react-select [class*="-indicatorContainer"]{
  color: #ff3860 !important;
}
.react-select [class*="-control"]{
  border-color: #ff3860 !important;
  box-shadow: 0 0 0 0.1px #ff3860 !important;
  min-width: 250px;
}
.react-select [class*="-control"]:hover{
  border-color: #ff3860 !important;
  box-shadow: 0 0 0 0.1px #ff3860 !important;
}
.react-select [class*="-menu"]{
 margin-top: 0px!important;
}
.icon-book-template{
  font-size: 1.2rem !important;
}
.Select-menu-outer {
  // z-index: 999 !important;
}
/***** Checkbox ******/
.is-checkradio[type=checkbox].is-danger:checked+label::after, .is-checkradio[type=checkbox].is-danger:checked+label:after {
  border-color: #ff3860!important;
}
.is-checkradio[type=checkbox]:checked+label::before, .is-checkradio[type=checkbox]:checked+label:before, .is-checkradio[type=radio]:checked+label::before, .is-checkradio[type=radio]:checked+label:before {
  border: .1rem solid #ff3860;
}
.is-checkradio[type=checkbox]+label::before, .is-checkradio[type=checkbox]+label:before, .is-checkradio[type=radio]+label::before, .is-checkradio[type=radio]+label:before {
  background-color: white;
}

#tab-hr-search,#tab-company-search{
  // margin-right: 0.8rem;
}
.tab-hr-list .list-item{
    display: -webkit-box;
    min-height: 6.5rem;
    vertical-align: middle;
    
}
.tab-hr-list{
  box-shadow: 0 0 0 rgba(10,10,10,.1), 0 0 0 0 rgba(10,10,10,.1)!important;
}
.icon_unlocked {
  background-image: url(https://intranet.redplanethotels.com/images/lock-open.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.image{
  height: 90px;
  width: 80px;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
}
.policy-01{
  color: rgb(114, 15, 97)!important;
}
.policy-02{
  color: #d40032!important;
}
.policy-label{
  font-size: 1.2rem!important;
  margin-left: 1rem;
}
.icon-book{
 font-size: 1.4rem!important;;
}
#policy-search{
  // margin-top: 2rem!important;
  margin-bottom: -1rem;
}
.is-checkradio[type=checkbox]+label {
  padding-left: 1.25rem;
  vertical-align: top;
}
.media {
  align-items: center;
  display: flex;
  text-align: left;
  padding: 0;
  flex-wrap: nowrap;
  justify-content: center;
}
.iframe-announcement{
  width: 100%;
  height: 950px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #888888;
}

.button-download a{
  margin-left: 0.25rem; 
  margin-bottom: 0.75rem;
}
.button-download span{
  padding-left: 0.25rem;
}
.media-content {
  overflow-x: inherit!important;
  padding-left: 0.5rem;
}
.media-left{
  margin: 0px;
}
.appraisal-list{
  display: -webkit-inline-box;
}
.appraisal .list-item {
  color: red;
}
.organization-chart .list-item{
  color: #d40032;
}
.appraisal-ul{
  list-style: disc;
  padding-left: 2.5rem;
  color: #d40032;
  font-size: 1rem;
}
.card-company{
  display: block!important;
}
.content-company a:hover ,.content-company:hover {
  background-color:#d40032;
  color: #fafafa!important;
  text-align: center;
}
.content-company{
  text-align: center;
}
.image-company img{
  border-radius: 4px;
  width: 190px;
  height: 270px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
/******* Employee profile ******/
.card-employee{
  box-shadow: 1px 2px 3px rgba(10,10,10,.1), 0px 0px 0px 0px rgba(10,10,10,.1);
}

.subtitle-emp span{
 cursor: pointer;
}
.image-emp{
  border-radius:50%;
}
.title-emp {
  font-weight: bold;
}
.tag{
  margin-right: 10px;
}
.tag{
  margin-right: 10px;
}
.checkbox-emp-list{
  margin-top: -10px!important;
  // margin-left: -10px!important;
}
.filter-emp-list .label{
  min-width: 100px;
}
.filter-emp-list .field {
  margin-bottom: 0;
}
.bottom0{
  padding-bottom: 0!important;
}
.iframe-statistic{
 width: 650px;
 height: 380px;
 margin-left: -2rem;
 background:url(../images/spinner-3s-200px.gif) center center no-repeat;
}
.statistic-loading{
  margin-left: 45%;
 }
.select-all-label{
  margin-left: 0.5rem;
}
/*Menu HR In Mobile **/
.accordions .accordion .accordion-header {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  background-color: #f2f2f2;
  color: #000;
  padding: 0.75em .75em;
}
.accordions .accordion.is-active .accordion-body{
  max-height: 100%;
}
.accordion-content{
  margin: 0!important;
  padding: 0!important;
}
@media screen and (min-width: 1088px){ /* desktop */
  #frame-hr{
    border: 1px solid #eee;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
  #tab-hr{
    padding-left: 0;
     padding-top: 0;
  }
  #tab-hr-search{
    // margin-top: 2rem;
  }
  .accordion-content .hr-content {
    padding: 0!important;
  }
  .row-policy-checkbox-all{
    padding-left: 1rem;
  }
  .is-checkradio[type=checkbox] + label::before, .is-checkradio[type=checkbox] + label:before, .is-checkradio[type=radio] + label::before, .is-checkradio[type=radio] + label:before {
    background-color: #f2f2f2;
    margin-top: 0.2rem;
  }
  .is-checkradio[type=checkbox] + label{
    padding-left: 1rem!important;
    vertical-align: bottom!important;
  }
  .content-announcement{
    padding: 1rem 10rem 4.5rem 10rem;
  }
  .password-hr{
    width: 45%;
   }
   .filter-emp .field-body ,.filter-emp .control{
    max-width: 280px;
   }
   .card-policy {
    // min-height: 4rem!important;
    height: 4rem!important;
    min-height: auto!important;
  }
  /* .is-active:after {
    position: absolute;
    content: "";
    width: auto;
    height: auto;
    border-style: solid;
    border-color: transparent transparent transparent #d40032;
    border-width: 25px 22px;
    right: px;
    margin-left: 5.9rem;
    margin-top: -0.75rem;
  } */
}
@media screen and (max-width: 1200px){ /*mobile*/
.left-title{
 text-align: center;
 padding-left: 0;
}
.announcement-loading {
    margin-left: 45%;
    // fill: red !important;
}
.hr-content {
    margin-top: 0;
}
.control-search{
  width: 100%;
}
#search-input{
  width: 100%;
}
#tab-hr-search, #tab-company-search{
  // margin-right: 0;
}
#hr-statistic{
  float: left!important;
}
#hr-report{
  float: left!important;
}

}
@media screen and (max-width: 768px){/*mobile*/
  .announcement-loading {
    // margin: 2rem 10rem;
    // width: 25% !important;
    margin-left: 45%;
    // fill: red !important;
    // padding-top: 0.25rem;
}
.control-search{
  width: 100%;
}
#search-input{
  width: 100%;
}
}