li{
    color: #000;
}

.title{
    margin-top: 1rem !important;
}
// .has-text-centered{
//     margin-bottom: 1rem !important;
// }

.management-adminnistrator{
    list-style: inside!important;
    padding-left: 2rem;
    font-size: 1rem;
}
.management-adminnistrator li{
    padding-bottom: 0.1rem;
}

@media screen and (min-width: 768px){//desktop
    .management-adminnistrator a{
        font-size: 1.4rem;
    }
    .pos-admin{
        margin-left: 350px;
    }
    .border-red{
        //position: absolute;
       // z-index: 999;
        border-right: 1px solid #cccccc;
     }
    .search-mobile{
        margin-top: -100px;
    }
    .display-mobile{
      margin-top: 100px;
    }
    .odd{
        background-color: #fff !important;
    }
    .even{
        background-color: #eee !important;
    }
    .image-red img{
        width: 150px;
        height: 187px;
        border-radius: 4px;
    
    }
    .image-red{
        border-radius: 4px;
        width: 200px;
        height: 175px;
        display: block !important;
        margin-left: 35px;
    }
    .image-view-public_library img{
        width: 160px;
        height: 220px;
        border-radius: 4px;
    
     }
     .image-view-public_library{
        border-radius: 4px;
        width: 200px;
        height: 300px;
        display: block !important;
        margin-left: 205px;
     }
     .image-view-red_letter img{
        width: 160px;
        height: 220px;
        border-radius: 4px;
    
     }
     .image-view-red_letter{
        border-radius: 4px;
        width: 200px;
        height: 300px;
        display: block !important;
        margin-left: 205px;
     }
     .header-admin{
         border-bottom: 1px solid #cccccc;
         border-left: 1px solid #cccccc;
         border-top: 1px solid #cccccc;
         border-right: 1px solid #cccccc;
         font-size: 1.2rem;
         text-align: center;  
         font-weight: bold;
     }
     .body-admin{
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        font-size: 1.2rem;
        text-align: center;  
    }
    .is-active{
        color: #000 !important;
    }
    .header-admin-popup{
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        font-size: 1.4rem;
        line-height: 0.9rem;
       // text-align: center;  
        font-weight: bold;
    }
    .body-admin-popup{
       border-bottom: 1px solid #cccccc;
       border-left: 1px solid #cccccc;
       border-top: 1px solid #cccccc;
       border-right: 1px solid #cccccc;
       font-size: 1.1rem;
       line-height: 0.5rem;
       font-weight: 200;
       //text-align: center;  
   }
}
@media screen and (max-width: 1200px){//mobile
    .management-adminnistrator a{
        font-size: 1rem;
    }
    .moblie-view{
       margin-top: 100px;
    }
    #search-input{
       width: 100%;
       // position: absolute;
        //z-index: 1;
    }
    .search-mobile{
        margin-top: -70px;
    }
    .display-mobile{
      margin-top: 70px;
    }
    .image-red img{
        width: 150px;
        height: 67px;
        border-radius: 4px;
        margin-top: -50px !important;
    
    }
    .image-red{
        border-radius: 4px;
        width: 150px;
        height: 85px;
        display: block !important;
        margin-left: 35px;
    }
    .image-view-public_library img{
        width: 100px;
        height: 130px;
        border-radius: 4px;
    
     }
     .image-view-public_library{
        border-radius: 4px;
        width: 100px;
        height: 150px;
        display: block !important;
        margin-left: 105px;
     }
     .image-view-red_letter img{
        width: 100px;
        height: 130px;
        border-radius: 4px;
    
     }
     .image-view-red_letter{
        border-radius: 4px;
        width: 100px;
        height: 150px;
        display: block !important;
        margin-left: 105px;
     }
}
// .image img{
//     width: 150px;
//     border-radius: 4px;
// }
// .image{
//     border-radius: 4px;
//     width: 150px;
//     height: 220px;
//     display: block !important;
//     margin-left: auto;
//     margin-right: auto;
//  }
 .image-train img{
    width: 160px;    
    height: 110px;
    border-radius: 4px;

 }
 .image-train{
    border-radius: 4px;
    width: 150px;
    height: 170px;
    display: block !important;
    margin-left: auto;
    margin-right: auto;

 }
 .image-insurance img{
    width: 150px;
    border-radius: 4px;

 }
 .image-insurance{
    border-radius: 4px;
    width: 150px;
    height: 230px;
    display: block !important;
    margin-left: auto;
    margin-right: auto;

 }
 
 .image-view-company_manuals img{
    width: 160px;
    height: 220px;
    border-radius: 4px;

 }
 .image-view-company_manuals{
    border-radius: 4px;
    width: 200px;
    height: 300px;
    display: block !important;
    margin-left: 205px;
 }
 .image-view-training_courses img{
    width: 160px;
    height: 120px;
    border-radius: 4px;

 }
 
 
 .image-view-training_courses{
    border-radius: 4px;
    width: 200px;
    height: 300px;
    display: block !important;
    margin-left: 205px;
 }
 .list-insurance{
    margin-left: 205px;
 }
 
 .red-title{
     margin-left: 210px;
 }
 .red-imag{
     margin-top: -25px !important;
 }
 
  .row-pagination{
      padding: .65rem;
  }
  .view-list{
    font-size: 1.5rem;
    margin-left: 15px;
    text-align: center;
  }
  .box-list{
    height: 3.2rem;
  }
  