
.from-login{
  margin-top: 30px;
  padding: 10px;
  padding-left: 17px;
}
.form_login{
    background-image: url(https://intranet.redplanethotels.com/../images/Menu-PostIt.png) !important;
    position: absolute !important;
    margin-top: -600px;
    margin-left: 550px;
}
.notification-login {
  padding-bottom: 0 !important;
  padding-top: 0!important;
}
@media screen and (min-width: 1088px){ /* desktop */
  .input-login{
    width: 200px;
    /* margin-top: 50px; */
  }
}
@media screen and (max-width: 1200px){ /*mobile*/
  .login_welcome {
      font-size: 1rem!important;
      color: #d40032;
      background-color: #e8e8e8;
      border-left: solid .3rem #d40032!important;
  }
}